# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android related
/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS related
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/ephemeral/
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m

# Symbols
app.*.symbols
app.*.map.json

# Tooling specific
.code-review-graph/
.claude/
.lib/
graphify-out/

# Backup and temporary files
*.zip
*.rar
*.7z
output.docx
