name: Flutter Android Release Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    name: Build and Release Split APKs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Restore keystore
        run: |
          echo "$ANDROID_KEYSTORE" | base64 --decode > android/app/upload-keystore.jks
          ls -lh android/app/upload-keystore.jks
          file android/app/upload-keystore.jks


      - name: Verify keystore
        run: |
          keytool -list \
          -keystore android/app/upload-keystore.jks \
          -storepass "$KEYSTORE_PASSWORD"

      - name: Create key.properties
        run: |
          cat <<EOF > android/key.properties
          storePassword=$KEYSTORE_PASSWORD
          keyPassword=$KEY_PASSWORD
          keyAlias=$KEY_ALIAS
          storeFile=upload-keystore.jks
          EOF

      - name: Clean
        run: flutter clean

      - name: Install dependencies
        run: flutter pub get

      - name: Build APKs with ABI splits
        run: flutter build apk --split-per-abi --release

      - name: Upload APKs to GitHub Actions artifacts
        uses: actions/upload-artifact@v4
        with:
          name: split-apks
          path: build/app/outputs/flutter-apk/

      - name: Create GitHub Release and upload APKs
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ github.run_number }} # Auto-incrementing tag
          name: Release ${{ github.run_number }}
          files: |
            build/app/outputs/flutter-apk/app-arm64-v8a-release.apk
            build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk
            build/app/outputs/flutter-apk/app-x86_64-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
